<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9MllRS7ruD-AU68EXbHFNbRXv7U1Cdz4</string>
	<key>GCM_SENDER_ID</key>
	<string>747810309244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>qr-scanner-jordan</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-scanner-jordan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747810309244:ios:bc7f1551e896f61501f5f9</string>
</dict>
</plist>